<aside id="windows_form">
<h2>Editar dados do usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.text_field :name, autofocus: true, placeholder: "Nome", id: "input_text_form" %></div>

  <div>
  <%= f.text_field :last_name, placeholder: "Sobrenome", id: "input_text_form" %></div>

  <div>
  <%= f.email_field :email, placeholder: "E-mail", id: "input_text_form" %></div>

  <div>
  <%= f.text_field :web_site, placeholder: "Web-Site", id: "input_text_form" %></div>

  <div>
  <%= f.text_field :age, placeholder: "Idade", id: "input_text_form" %></div>

  <div>
  <%= f.text_field :contact, placeholder: "Contato (necessario para colaborar)", id: "input_text_form" %></div>  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Aguardando confirmação para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br>

  <div>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha (deixe em branco caso não queira alterar)", id: "input_text_form" %></div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar Senha", id: "input_text_form" %></div>

  <br><br>
  <div><%= f.label :current_password, "Senha atual" %> <i>(precisamos de sua senha atual para confirmar as alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update", id: "btnForm" %></div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Infeliz? <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Deseja mesmo cancelar sua conta?" }, method: :delete, id: "btnForm" %></p>

<%= link_to "Voltar", :back %>
</aside>