<aside id="windows_form">
<h2>Não tem uma conta? Cadastre-se</h2>
<h5><%= render "devise/shared/links" %></h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.text_field :name, autofocus: true, placeholder: "Nome", id: "input_text_form" %></div>

  <div>
  <%= f.text_field :last_name, placeholder: "Sobrenome", id: "input_text_form" %></div>

  <div>
  <%= f.email_field :email, placeholder: "E-mail", id: "input_text_form" %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha", id: "input_text_form" %></div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar Senha", id: "input_text_form" %></div>

  <div><%= f.submit "Cadastrar", id: "btnForm" %></div>
<% end %>


</aside>