<aside>
	<div id="container">
		<%= image_tag "user_idea.png", id: "imgSettings" %>
		<h4>
			Você tem a idéia que pode mudar a vida de muitas pessoas.
		</h4>
		<%= image_tag "arrow.png", id: "imgArrow", style: "position: relative; left: 45%;" %>
	</div>

	<div id="container2">
		<%= image_tag "many_users.png", id: "imgOpenSource"%>
		<h4>
			Pessoas dispostas encontram e Avaliam sua idéia.
		</h4>
		<%= image_tag "invert_arrow.png", id: "imgArrow" %>
	</div>

	<div id="container3">
		<h4>
			Colaboradores te ajudam com sua idéia da maneira mais eficaz.
			<%= image_tag "collaborates.png", id: "imgSettings3" %>
		</h4>
		<%= image_tag "arrow.png", id: "imgArrow3" %>
	</div>

	<div id="container4">
		<%= image_tag "medal.png", id: "imgOpenSource" %>
		<h4>
			Seu projeto é concluido com Sucesso!
		</h4>
		<h4>
			Tem um desenvolvimento melhor em um menor prazo de tempo.
		</h4>
	</div>

</aside>