<aside>
<div id="windows_form">
	<h3>Alguma coisa errada? Da uma editada ai vai !</h3>
	<%= form_for @idea, url: update_idea_path do |n| %>
		<%= n.text_field :title, placeholder: "Titulo da Ídéia", id: "input_text_form" %><br>

		<%= n.text_field :description, placeholder: "Descrisão Básica", id: "input_text_form" %><br>

		<%= n.text_area :idea, placeholder: "Idéia Completa", id: "input_text_form" %><br>

		<%= n.text_field :contact, placeholder: "Contato", id: "input_text_form" %><br>

		<%= n.text_field :link_project, placeholder: "Link do projeto", id: "input_text_form" %><br>

		<%= n.text_field :idealizer, width: "150px", value: "#{@user.id} ", readonly: true, id: "input_text_form", style: "display: none;" %><br>

		<%= n.submit "Salvar", id: "btnForm" %>
	<% end %>
</div>

</aside>