<aside id="windows_form">
	<p><strong>Titulo: </strong><%= @ideas.title %></p>
	<p><strong>Descrição: </strong><%= @ideas.description %></p>
	<strong>Ideia: </strong><scan style="width: 300px; height: 400px;"><%= @ideas.idea %></scan>
	<p><strong>Contato: </strong><%= @ideas.contact %></p>
	<p><strong>Link do projeto: </strong><%= link_to @ideas.link_project, @ideas.link_project %></p>
	<p><strong>Idealizador: </strong><%= @ideas.idealizer %></p>
	<p><strong>Gostei: </strong>
		<% if @ideas.like == nil %>
			0
		<% else %>
			<%= @ideas.like %>	
		<% end %>
	</p>
	<p><strong>Não Gostei: </strong>
		<% if @ideas.nlike == nil %>
			0
		<% else %>
			<%= @ideas.nlike %>
		<% end %>
	</p>

	<% if @user.collaborate == nil %>
		<% if @user.contact == nil %>
			<p style="color: red"><strong>Você precisa adicionar um contato no seu perfil para poder colaborar.</strong></p>
		<% else %>
			<%= form_for @ideas, url: show_path do |n| %>
				<%= n.submit "Colaborar", id: "btnForm" %>
			<% end %>
		<% end %>
	<% elsif @user.collaborate.to_s == @ideas.id.to_s %>
		<p style="color: green;"><strong>Você está colaborando nesta idéia.</strong></p>
		<%= button_tag "Parar de colaborar", id: "btnForm", onclick: "collaborate();" %>
	<% else %>
		<p style="color: red;" ><strong>Você está colaborando em outra idéia.</strong></p>
	<% end %>

	<% if @user.name + " #{@user.last_name}" == @ideas.idealizer %>
		<p><strong>Colaboradores: </strong>

			<% @user_collaborate.each do |u|%>
				<% if u.collaborate.to_s == @ideas.id.to_s %>
					<p><%= "#{u.name} #{u.last_name} (#{u.contact})" %></p>
				<% end %>
			<% end %>
		</p>
	<% end %>


</aside>
