<aside>
	<p><strong>Titulo: </strong><%= @idea.title %></p>
	<p><strong>Descrição: </strong><%= @idea.description %></p>
	<p><strong>Ideia: </strong><%= @idea.idea %></p>
	<p><strong>Contato: </strong><%= @idea.contact %></p>
	<p><strong>Link do projeto: </strong><%= @idea.link_project %></p>
	<p><strong>Idealizador: </strong><%= @idea.idealizer %></p>
	<p><strong>Gostei: </strong>
		<% if @idea.like == nil %>
			0
		<% else %>
			<%= @idea.like %>	
		<% end %>
	</p>
	<p><strong>Não Gostei: </strong>
		<% if @idea.nlike == nil %>
			0
		<% else %>
			<%= @idea.nlike %>
		<% end %>
	</p>
	<p><strong>Colaboradores: </strong>
		<%= @idea.employees %>
		<%= button_tag "Colaborar", onclick: "openColaborate();" %>
	</p>

	<div id="colaborate">
		<h3>Colaborar</h3>
		<%= form_for @idea, url: show_path do |n| %>
			<%= n.label :employees, "Seu Nome: " %><br>
			<%= n.text_field :employees, maxlength: "15", style: "width: 170px", id: "edColaborate" %> (maximo de 15)<br>

			<%= n.label :link_employees, "Contato: " %><br>
			<%= n.text_field :link_employees, style: "width: 170px", id: "edlink" %> (e-mail, telefone)<br>

			<%= n.submit "Colaborar" %>
			<strong><%= link_to "Cancelar", "#", style: "color: red", onclick: "closeColaborate();" %><strong>
		<% end %>
	</div>
</aside>
