<aside>
	<p><strong>Titulo: </strong><%= @ideas.title %></p>
	<p><strong>Descrição: </strong><%= @ideas.description %></p>
	<p><strong>Ideia: </strong><%= @ideas.idea %></p>
	<p><strong>Contato: </strong><%= @ideas.contact %></p>
	<p><strong>Link do projeto: </strong><%= link_to @ideas.link_project, @ideas.link_project %></p>
	<p><strong>Idealizador: </strong><%= @ideas.idealizer %></p>
	<p><strong>Gostei: </strong>
		<% if @ideas.like == nil %>
			0
		<% else %>
			<%= @ideas.like %>	
		<% end %>
	</p>
	<p><strong>Não Gostei: </strong>
		<% if @ideas.nlike == nil %>
			0
		<% else %>
			<%= @ideas.nlike %>
		<% end %>
	</p>
	<% if @user.name + " #{@user.last_name}" == @ideas.idealizer %>
		<p><strong>Colaboradores: </strong>
			<% @user_collaborate.each do |u|%>
				<% if u.collaborate.to_s == @ideas.id.to_s %>
					<p><%= "#{u.name} #{u.last_name} (#{u.contact})" %></p>
				<% end %>
			<% end %>
		</p>
	<% end %>

	<%= form_for @ideas, url: show_path do |n| %>
		<%= n.submit "Colaborar" %>
	<% end %>

</aside>
