<aside id="windows_form">
	<p><strong>Titulo: </strong><%= @idea.title %></p>
	<p><strong>Descrição: </strong><%= @idea.description %></p>
	<strong>Ideia: </strong><scan style="width: 300px; height: 400px;"><%= @idea.idea %></scan>
	<p><strong>Contato: </strong><%= @idea.contact %></p>
	<p><strong>Link do projeto: </strong><%= link_to @idea.link_project, @idea.link_project %></p>
	<p><strong>Idealizador(a): </strong><%= link_to "#{@user_collaborate.find(@idea.idealizer).name} #{@user_collaborate.find(@idea.idealizer).last_name}", perfil_path(@user_collaborate.find(@idea.idealizer).id) %></p>
	<p><strong>Gostei: </strong>
		<% if @idea.like == nil %>
			0
		<% else %>
			<%= @idea.like %>	
		<% end %>
	</p>
	<p><strong>Não Gostei: </strong>
		<% if @idea.nlike == nil %>
			0
		<% else %>
			<%= @idea.nlike %>
		<% end %>
	</p>

	<% if @user.collaborate == nil %>
		<% if @user.contact == nil %>
			<p style="color: red"><strong>Você precisa adicionar um contato no seu perfil para poder colaborar.</strong></p>
		<% else %>
			<%= form_for @idea, url: show_path do |n| %>
				<%= n.submit "Quero colaborar", id: "btnForm" %>
			<% end %>
		<% end %>
	<% elsif @user.collaborate.to_s == @idea.id.to_s %>
		<p style="color: green;"><strong>Você está colaborando nesta idéia.</strong></p>
		<%= button_tag "Parar de colaborar", id: "btnForm", onclick: "collaborate();" %>
	<% else %>
		<p style="color: red;" ><strong>Você está colaborando em outra idéia.</strong></p>
	<% end %>

	<% if @idea.idealizer.to_i == @user.id.to_i %>
	<%= link_to "Finalizar Idéia", delete_path %>
	<%= link_to "Editar Idéia", edit_path %>

		<p><strong>Colaboradores: </strong>

			<% @user_collaborate.each do |u|%>
				<% if u.collaborate.to_s == @idea.id.to_s %>
					<p><%= link_to "#{u.name} #{u.last_name}", perfil_path(u.id) %></p>
				<% end %>
			<% end %>
		</p>
	<% end %>


</aside>
