<div id="panel2" style="">

	<h1 style="position: relative; left: 200px; margin-right: 200px;">Top Idéias</h1>
	<%= image_tag "crown.png", id: "crown" %>
</div>

<% unless user_signed_in? %>
	<span style="position: absolute; top: 11%; left: 6%;">É preciso estar logado para acesar as idéias.</span>
<% end %>

<aside style="top: 41%">
	
	<br>

	<% @ideas.each do |i| %>

	<% @like = 0 %>
	<% @unlike = 0 %>

	<% @votation.each do |v| %>
		<% if v.idea_id == i.id %>
			<% if v.like %>
				<% @like = @like + 1 %>
			<% else %>
				<% @unlike = @unlike + 1 %>
			<% end %>
		<% end %>
	<% end %>



	<% @coment = 0 %>
	<% @coments.each do |c| %>
		<% if c.idea_id == i.id %>
			<% @coment = @coment + 1 %>
		<% end %>
	<% end %>

		<div id="ideaInfo">
		 	<p>
				<strong style="margin-left: 30px;"><%= link_to i.title, show_path(i.id) %></strong><br>
				<span style="margin-left: 32px; font-size: 50%;"><%= i.description %></span>
				<strong style="position: absolute; left: 75%; top: 25%;">
					<%= link_to "#{@user_all.find(i.idealizer).name} #{@user_all.find(i.idealizer).last_name}", perfil_path(i.idealizer) %></strong><br>
				<span style="position: absolute; left: 75%; width: 250px; top: 50%;">
					<%= image_tag "like_icon.png", width: "30px" %>
						<%= @like %>

					<%= image_tag "unlike_icon.png", style: "width: 30px;" %>
						<%= @unlike %>
					<%= image_tag "coment_icon2.png", width: "30px;" %>
						<%= @coment %>
				</span>
			</p>
		</div>
	<% end %>

</aside>