<div id="panel2" style="">

	<h1 style="position: relative; left: 200px;">Top Idéias</h1>
	<%= image_tag "crown.png", id: "crown" %>
</div>

<% unless user_signed_in? %>
	<span style="position: absolute; top: 11%; left: 6%;">É preciso estar logado para acesar as idéias.</span>
<% end %>

<aside style="top: 41%">
	
	<br>
	<% @ideas.order('like ASC').reverse.each do |i| %>
		<div id="ideaInfo">
			<p>
				<strong style="margin-left: 30px;"><%= link_to i.title, show_path(i.id) %></strong>
				<span style="position: absolute; left: 25%;"><%= i.description %></span>
				<strong style="position: absolute; left: 70%;"><%= i.idealizer %></strong>
				<span style="position: absolute; left: 90%;">
					<%= link_to (image_tag "like.png"), update_like_path(i.id) %>
					<% if i.like == nil %>
						0
					<% else %>
						<%= i.like %>	
					<% end %>

					<%= link_to (image_tag "nlike.png"), update_nlike_path(i.id) %>
					<% if i.nlike == nil %>
						0
					<% else %>
						<%= i.nlike %>
					<% end %>
				</span>
			</p>
		</div>
	<% end %>

</aside>