<div id="panel2">
	<h1 style="position: relative; left: 230px;">Minhas Idéias</h1>
	<p style="position: absolute; top: 10%; left: 5%;">
		<%= image_tag "banner_index.png", width: "150px" %>
	</p>
	
</div>

<aside style="position: relative; top: 200px;">
	<% @user_ideas.each do |i| %>
	
	<% if i.idealizer.to_i == @user.id.to_i %>
		<% @like = 0 %>
	<% @unlike = 0 %>

	<% @votation.each do |v| %>
		<% if v.idea_id == i.id %>
			<% if v.like %>
				<% @like = @like + 1 %>
			<% else %>
				<% @unlike = @unlike + 1 %>
			<% end %>
		<% end %>
	<% end %>

		<div id="ideaInfo", style="top: 10%;">
		 	<p>
				<strong style="margin-left: 30px;"><%= link_to i.title, show_path(i.id) %></strong><br>
				<span style="position: relative; left: 3.5%; font-size: 50%;"><%= i.description %></span>
				<strong style="position: absolute; left: 75%; top: 25%;">
					<%= link_to "#{@user_all.find(i.idealizer).name} #{@user_all.find(i.idealizer).last_name}", perfil_path(i.idealizer) %></strong><br>
				<span style="position: absolute; left: 75%; width: 250px; top: 50%;">
					<%= image_tag "like_icon.png", width: "30px" %>
						<%= @like %>

					<%= image_tag "unlike_icon.png", style: "width: 30px;" %>
						<%= @unlike %>
					<%= image_tag "coment_icon2.png", width: "30px;" %>
						<%= @coment %>
				</span>
			</p>
		</div>
	<% end %>
	<% end %>
</aside>