<div id="panel2">
	<h1 style="position: relative; left: 230px;">Minhas Idéias</h1>
	<p style="position: absolute; top: 10%; left: 5%;">
		<%= image_tag "banner_index.png", width: "150px" %>
	</p>
	
</div>

<aside style="position: relative; top: 200px;">
	<% @user_ideas.each do |i| %>

	<% if i.idealizer == @user.name + " #{@user.last_name}" %>

		<div id="ideaInfo" style="position: relative; top: 0px;" >
			<p>
				<strong style="margin-left: 30px;"><%= link_to i.title, show_path(i.id) %></strong>
				<span style="position: absolute; left: 25%;"><%= i.description %></span>
				<strong style="position: absolute; left: 70%;"><%= i.idealizer %></strong>
				<span style="position: absolute; left: 90%;">
					<%= link_to (image_tag "like.png"), update_like_path(i.id) %>
					<% if i.like == nil %>
						0
					<% else %>
						<%= i.like %>	
					<% end %>

					<%= link_to (image_tag "nlike.png"), update_nlike_path(i.id) %>
					<% if i.nlike == nil %>
						0
					<% else %>
						<%= i.nlike %>
					<% end %>
				</span>
			</p>
		</div>
	<% end %>
	<% end %>
</aside>