<!DOCTYPE html>
<html>
<head>
  <title>GI - Group Idea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="bodyAll">

<nav class="navbar">
	<%= link_to "Group Idea", root_path, id: "titleNav" %>
	<%= link_to "Top-Ideias", top_idea_path, id: "linkNav" %>
	<%= link_to "Como Funciona", about_path, id: "linkNav" %>

	<% if user_signed_in? %>
	<div id="logar" style="color: white;">

		<%= image_tag "arrow_down_menu.png", id: "arrow_down_menu", onclick: "openMenu();" %>
		<span style="position: relative; float: right; top: 15px; margin-right: 30px;">Bem vinda(o), <%= @user.name %> !</span>

		<div id="user_menu">
			<ul>
				<li><%= link_to "Nova Ideia", new_idea_path, id: "link_to_list" %></li>
				<% unless @user.collaborate  == nil%>
					<li onclick="collaborate();" ><%= link_to "Colabora", show_path(@user.collaborate), id: "link_to_list" %></li>
				<% end %>
				<li onclick="user_ideas();" >Idéias</li>
				<li onclick="perfil();" >Perfil</li>
				<li onclick="logout();">Sair</li>
			</ul>
		</div>
	</div>

	<% else %>

		<%= link_to "Cadastrar", new_user_registration_path, id: "btnNav" %>
		<%= link_to "Login", user_session_path, id: "btnNav" %>
	<% end %>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
