<!DOCTYPE html>
<html>
<head>
  <title>GI - Group Idea</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
</head>
<body id="bodyAll">

<nav>
	<%= link_to "Group Idea", root_path, id: "titleNav" %>
	<%= link_to "Top-Idéias", top_idea_path, id: "linkNav" %>
	<%= link_to "Como Funciona", about_path, id: "linkNav" %>

	<% if user_signed_in? %>
	<div id="logar" style="color: white;">

		
		<%= image_tag "btn_menu_nav.png", onclick: "openMenu();", id: "arrow_down_menu" %>
		<span style="position: relative; float: right; top: 20px; margin-right: 30px;">Bem vinda(o), <%= @user.name %></span>


		<div id="user_menu">
			<ul>
				<li onclick="newIdea();">Nova Idéia</li>
				<% unless @user.collaborate  == nil%>
					<li onclick="collaborate();" ><%= link_to "Colabora", show_path(@user.collaborate), id: "link_to_list" %></li>
				<% end %>
				<li onclick="user_ideas();" >Idéias</li>
				<%= link_to perfil_path(@user.id), style: "color: white; text-decoration: none; cursor: default;" do %>
					<li>Perfil</li>
				<% end %>
				<li onclick="logout();">Sair</li>
			</ul>
		</div>
	</div>

	<% else %>

		<%= link_to "Cadastrar", new_user_registration_path, id: "btnNav" %>
		<%= link_to "Login", user_session_path, id: "btnNav" %>
	<% end %>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
